
.stateCases{
    display:flex;
    overflow-x: scroll;
    height:  300px;
}

.stateCases__cards{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(53, 68, 109);
     margin: 9px ;
    /* padding: 0 12px;  */
    border-radius: 21px;
}

.stateCases__cards > img {
    width: 210px;
    object-fit: fill;
    margin:0;
}