.app{
     display:flex;
     justify-content: space-evenly;
     /* padding: 21px; */
}  

.app__left{
  /* width: 63%; */
  flex:0.9;
}
.app__header{
  display:flex;
  align-items: center;
  margin-bottom: 21px;
  justify-content: space-between;
  color: white ;
  margin:9px 12px;
}


.app__select{
  height: 45px;
  background-color: #525252 !important;
  color: #d4d4d4 !important;
}
.app__right{
  margin-top: 6px;
  border-radius:6px;
}
.app__rightCardContent{
  
  background-color: #4e4e4e;
}
.app__rightCardContent > .table{
  margin:12px;
  
}


.MuiCard-root {
    background-color: #4e4e4e;
    border-radius: 15px !important;
}
@media only screen and (max-width:450px) {
  .app__stats{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}


.app__stats{
    display:flex;
}


body{
  background-color: #161616;
}

.app__menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__menuFlag{
  height: 15px;
  object-fit: contain;
}


@media (max-width:990px) {
  .app{
    flex-direction: column;
  }
  .app__left{
    width:100%;
  }
  .app__right{
    margin:0 12px;
  }
}

